<template>
  <div id="articles">
    <h1>Articles</h1>
    <div :id="'card-' + article.id" class="article card" v-for="article in articles">
      <div class="card-header">
        {{article.title}}        
      </div>
      <div class="card-body">
        <p>{{article.body}}</p>
        <p><small>Created at {{showDate(article.created_at)}} by {{article.autor}}</small></p>
      </div>
    </div>
    <a id="load-more-btn">Load More...</a>
  </div>
</template>

<style>
  #articles {
    padding: 1rem;
    max-width: 950px;
    margin: auto;
  }
  .card {
    background: #aaa;
    color: #444;
    padding: 1rem;
    border-radius: 5px;
  }
  .card + .card {
    margin-top: .4rem;
  }
  .card-header {
    font-size: 2rem;
  }
  #load-more-btn {
    display: block;
    background: black;
    border-radius: 5px;
    color: white;
    padding: 1rem;
    margin-top: .4rem;
    cursor: pointer;
    text-align: center;
  }
</style>

<script>
  export default {
    data: () =>{
      return {
        articles: []
      }
    },
    methods: {
      showDate: (date) => {
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        const today  = new Date();
        return today.toLocaleString('en-UK')
      }
    },
    created() {
      fetch('/api/articles')
        .then(res => res.json())
        .then(json => {
          console.log(json)
          this.articles = json
        })
    } 
  }
</script>